@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');


body,
* {
    font-family: "open sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 4rem;
    color: black;
    z-index: 3;
    transition: color 0.3s ease-in-out;
    
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover {
    color: white;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 6rem 1rem 0 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;

}

.burger-icon:hover + .sidebar, .sidebar:hover {
    left: 0;
    box-shadow: 0,0,10px 1px black;
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: white;
    margin: 1rem 0;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out,
        transform 0.15s ease-in-out;

}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0,0,10px white);
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* vises først med klasen "show" */
    position: fixed;
    left: 100vw;
    transition: all .6s ease-in-out;
}

.show {
    left: 0;
}

/*all div's inside pages are here*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    
}

#page1{
    grid-template-rows: 1fr 15fr 1fr;
    background-image:url(./assets/Forsidebillede.png);
    background-size: cover;
    color: white;
}

#page1 .top{
    font-weight: 700;
    font-size: xx-large;
    background-color: rgba(0,0,0,0.6);
    padding-top: 1rem;
}

#page1 .top .box{
   padding: 1rem 0.5rem ;
    max-width:30vw;
    min-height:0;
    grid-template-rows: 1fr 0.1fr;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1rem;
    padding:2rem;
    border-color:darkred;
    border-radius: 10vh;
}

#page1 .middle{
    background-color: rgba(0,0,0,0.6);
    font-size: xx-large;
    font-style: italic;
}

#page1 .bottom{
    background-color: rgba(0,0,0,0.6);
}

#page2{
    background-color: #BEC5AD;
}
#page3{
    background-color: #A4B494;
}
#page4{
    background-color: #519872;
}


.scroll{
    min-height:100%;    
    overflow:scroll;
    padding:20rem;
    gap:2rem;
}

.boxGeralt .left{
    grid-template-columns:auto;
    background-image: url(./assets/Geralt.jpg);
    background-size: cover;
}



.box .top{
    background-color: black;
    color:white;
    border-radius: 1rem;
    font-size:2rem;
}

.box .bottom{
    color:white;
}

#page3{
    overflow-y:scroll;
}

.parallax{
    min-height:100vh;
    background-attachment: fixed;
    background-size:cover;
    color:white;
}

.background1{
    background-image: url('./assets/Sprit.png');
    background-size: cover;
}
.background2{
    background-image: url('./assets/borup.png');
}
.background3{
    background-image: url('./assets/neglelakfjerner.png');
    background-size: cover;
}
.background4{
    background-image: url('./assets/Vesemir.webp');
}


#videoButton:hover{
    background-color: white;
    color: black;
}
#page4 {
    object-fit: cover;
    object-position: center;
    width:100%;
    height: 100%;
    
}

.trailer{
    min-width: 100%;
    min-height: 100%;
    width: auto;
  height: auto;
}

#page5{
    grid-template-rows: 1fr 1fr 1fr;    
}

#page5 .alkohol{
    background-color: #CEE5F2;
}

#page5 .keton{
    background-color: #ACCBE1;
}
#page5 .carboxylsyre{
    background-color: #7C98B3;
}




#page6{
    background-size: contain;
    background-position: 100%;
}

#page6 {
  position: relative;
}

#theDropdown {
  position: absolute;
  top: 550px;   /* ryk ned */
  left: 1100px;  /* ryk til højre */
}



#page7 {
    background-color: darkblue;
}


